<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>AudioTagMap</title>
</head>
<body>
  <div class="table">
    <table border="1">
      <tr>
        <th>audio_id</th><th>audio_tag_id</th></tr>
        <% @audio_tagmaps.each do |audio_tagmap| %>
        <tr>
          <td><%= audio_tagmap.audio_id %></td>
          <td><%= audio_tagmap.audio_tag_id %></td>
        </tr>
        <% end %>
      </div>
    </body>
    </html>
