<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ANOTHER</title>
</head>
<body>
  <div class="table">
    <table border="1">
      <tr>
        <th>friend_id</th><th>user_id</th>
        <% @friendlist.each do |friendlist| %>
        <tr>
          <td><%= friendlist.friend_id %></td>
          <td><%= friendlist.user_id %></td>
        </tr>
        <% end %>
      </div>
    </body>
    </html>
