<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ANOTHER</title>
</head>
<body>
  <div class="table">
    <table border="1">
      <tr>
        <th>user_id</th>
        <th>gender</th></tr>
        <% @genders.each do |gender| %>
        <tr>
          <td><%= gender.user_id %></td>
          <td><%= gender.gender %></td></tr>
          <% end %>
        </div>
      </body>
      </html>
