<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ANOTHER</title>
</head>
<body>
  <div class="table">
    <table border="1">
      <tr>
        <th>post_id</th><th>user_id</th><th>post.created_at</th><th>post.updated_at</th></tr>
        <% @likes.each do |like| %>
        <tr>
          <td><%= like.post_id %></td>
          <td><%= like.user_id %></td>
        </tr>
        <% end %>
      </div>
    </body>
    </html>
