<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ANOTHER</title>
</head>
<body>
  <div class="table">
    <table border="1">
      <tr>
        <th>user_id</th>
        <th>area</th>
      </tr>
      <% @prefectures.each do |prefecture| %>
      <tr>
        <td><%= prefecture.user_id %></td>
        <td><%= prefecture.area %></td>
      </tr>
      <% end %>
    </div>
  </body>
  </html>
