<div id="edit_warning_modal" class="post-modal-wrapper">
  <div id="new-friend-form" class="new-friend-form">
    <div class="friend-modal-content">編集内容を破棄しますか？</div>
    <div class="friend-modal-menu">
      <input type="submit" value="はい" class="modal-edit-yes-btn">
      <div class="modal-edit-no-btn">いいえ</div>
    </div>
  </div>
</div>
