<div id="friend-modal" class="post-modal-wrapper">
  <div id="new-friend-form" class="new-friend-form">
    <div class="friend-modal-content">友達登録を解除しますか？</div>
    <div class="friend-modal-menu">
      <%= form_tag("/friendlist/destroy/#{user.id}",method: :post,class:"friend-form") do %>
      <input type="submit" value="はい" class="modal-yes-btn">
      <% end %>
      <div class="modal-no-btn">いいえ</div>
    </div>
  </div>
</div>
