<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ANOTHER</title>
  </head>
  <body>
      <div class="top-main-container">
        <div class="about-container">
           <div class="about-message">
    <h1>ANOTHERとは</h1>
    <h2>変わろうとする人々が日々のタスクを呟きお互いが励まし合ったり褒め合うコミュニティサービスです。</h2>
     </div>
    <div class="about-image-container">
    <img src="/about.jpg">
     </div>
        </div>
      </div>
  </body>
</html>
