<div id="edit-prefecture-destroy-modal" class="post-modal-wrapper">
  <div id="new-post-destroy-form" class="new-friend-form">
    <div class="destroy-modal-content">内容を破棄してもよろしいですか？</div>
    <div class="friend-modal-menu">
      <input type="submit" value="はい" id="edit-prefecture-modal-yes-btn" class="destroy-modal-yes-btn">
      <div id="edit-prefecture-modal-no-btn" class="destroy-modal-no-btn">いいえ</div>
    </div>
  </div>
</div>
