.audio-cointainer{
  background: rgba(255,250,250,1);
  height:auto;
  width:48%;
  border:solid 1px rgba(105,105,105,1);
  float:left;
  margin:5px;
}

.audio-image img{
  height:150px;
  width:100%;
  object-fit: cover;
}

.track-title{
  height:20px;
}

.audio-tag-container{
  margin-left:55px;
  margin-top:5px;
}

.audio-content-container{
  margin-left:55px;
  margin-top:5px;
}

.audio-show-link-container{
  float:right;
}
