@media(max-width:1170px){
  //image_modal
  .image-modal {
    top: 20%;
    left:calc((100% - 600px)/2);
    height:400px;
    width:600px;
  }

  .post_image_modal{
    width: 100%;
    height:400px;
    width:600px;
  }
  //image_modal

  //posts_index
  .index-profile-container{
    margin-bottom:2%;
  }

  .index-profile-containers{
    width:35%;
    min-width:200px;
  }

  .posts-index-center-items {
    width:65%;
    min-width:400px;
  }

  .posts-index-item {
    min-width:400px;
  }

  .mypage-link-font{
    display:none;
  }

  .new-post-container{
    width:24%;
  }

  .index-userlist-containers{
    display:none;
  }

  .responsive-1024px-index-userlist-container{
    width:100%;
    height:auto;
    margin-bottom:30px;
    border-top:solid 1px #c1ced7;
    background-color: white;
    overflow:scroll;
    display:block;
  }
  //posts_index
}
