<div style="padding-top:100px;">
  <%   @audios.each do |audio| %>
  <div style="margin-top:20px;">
    <% audio_user=User.find_by(id: audio.user_id)%>
    ユーザ名:<%= link_to(audio_user.name,"/users/userprofile/#{audio_user.public_uid}") %><br>
    タイトル:<%= link_to(audio.title,"/audio/show/#{audio.id}") %><br>
    ジャンル:
    <% @tags=AudioTag.where(id: audio.audio_tags.ids) %>
    <% @tags.each do |tag| %>
    <div class="userprofile-genre-btn">
      <%= tag.genre %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
